.course {
  width: 800px;
  padding: 1.5rem;
  background: white;
  border: 1px solid rgb(46, 76, 212);
  border-radius: 2rem;
  text-align: center;
  background-color: #0f0f17;
  overflow: auto;
  box-shadow: rgba(172, 162, 162, 0.19) 0px 10px 20px, rgba(90, 87, 87, 0.23) 0px 6px 6px;
}

.courseContent { /* course-principal */
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
}

.courseImg {
  width: 100px;
  height: 40px;
  cursor: pointer;
  transition: .3s;
}

.courseImg:hover {
  transform: scale(1.1);
}

.courseDetails {
  color: #ece9e9;
}

.courseBtn {
  border: none;
  padding: 0 1.5rem;
  border-radius: 15px;
  text-transform: uppercase;
  color: #eaf2f3;
  transition: all .3s;
  background: hsla(240, 20%, 29%, 1);
  background: linear-gradient(225deg, hsla(240, 20%, 29%, 1) 0%, hsla(240, 16%, 20%, 1) 100%);
  background: -moz-linear-gradient(225deg, hsla(240, 20%, 29%, 1) 0%, hsla(240, 16%, 20%, 1) 100%);
  background: -webkit-linear-gradient(225deg, hsla(240, 20%, 29%, 1) 0%, hsla(240, 16%, 20%, 1) 100%);
}

.courseBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.courseBtn:focus {
  outline: none;
}

@media screen and (min-width: 961px) {
  .courseDetails h3,
  .courseDetails p {
    font-size: 19px;
  }
}

@media screen and (max-width: 960px) {
  .course {
    width: 90%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .course {
    width: 90%;
  }

  .courseContent {
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
  }

  .courseDetails {
    width: 130px;
  }

  .courseBtn {
    height: 35px;
  }
}

@media screen and (max-width: 480px) {
  .course {
    width: 90%;
  }

  .courseContent {
    justify-content: space-between;
    gap: 1rem;
  }

  .courseDetails {
    width: 130px;
  }

  .courseBtn {
    height: 35px;
  }
}



