.timeline {
  width: 100%;
  max-width: 1000px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media screen and (max-width: 960px) {
  
}

@media screen and (max-width: 660px) {
  .timeline {
    align-items: end;
  }
}