.topicContainer {
  width: 680px;
  border-top: 3px solid rgb(127, 192, 196);
}

.topicsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.topicsList li {
  color: #e2d5d5;
}

.topicsList div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #7fc0c4;
}

.topicSection {
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .topicContainer {
    width: 100%;
  }
}
