.socialItems {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
}

.github,
.linkedin {
  transition: .5s;
}

.github:hover {
  transform: scale(1.2);
}

.linkedin:hover{
  color: #0e76a8;
  transform: scale(1.2);
}
