* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.body {
  background-color: #12121a;
  width: 100%;
  overflow-x: hidden;
}

.wrapper{
  background-color: rgba(38, 38, 57, 0.15);
  background: linear-gradient(38.73deg, rgba(38, 38, 57, 0.15) 0%, rgba(50, 50, 116, 0) 50%), linear-gradient(141.27deg, rgba(74, 74, 170, 0) 50%, rgba(74, 74, 170, 0.15) 100%);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%,30% 98%, 0 100%);
}

.prject {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../public/projectbck.png");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.contact {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  background-image: linear-gradient(to right, #0f0f0f 0%, #303335 100%);
}